@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/*Img top responsive*/
/*Img long responsive*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 4.7em;
}

/*Navbar*/
.navbar {
  -webkit-box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
}

.dropdown-toggle::after {
  color: #1cceb8;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76809;
}

.navbar-collapse {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  margin-right: 32px;
}

.navbar-brand:active {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-item:active {
  background-color: #1cceb8;
}

.dropdown-menu {
  text-align: left;
  font-size: 14px;
}

.dropdown-menu a {
  color: #828282;
  font-weight: 700;
}

/*Book a coffee*/
#coffee {
  background-color: #f76809;
  color: white;
  margin-top: -0.1em;
  font-size: 16px;
}

#coffee p {
  text-align: end;
  margin: auto;
  padding-right: 42px;
}

#coffee a {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  -webkit-box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
}

#coffee i {
  padding: 0 10px;
  font-size: 20px;
}

/*Home*/
.box-home {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
  z-index: 15;
}

.box-home p, .box-text {
  height: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

.box-home p {
  top: 6.5em;
  margin: auto;
  width: 100%;
}

.box-text {
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 450px;
  top: 4.5em;
  overflow: hidden;
}

.box-text ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: rotator-text 7s infinite;
          animation: rotator-text 7s infinite;
}

.box-text ul,
p {
  margin: 0;
}

@-webkit-keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  15% {
    margin-top: -60px;
  }
  25% {
    margin-top: -60px;
  }
  35% {
    margin-top: -120px;
  }
  45% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  90% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  15% {
    margin-top: -60px;
  }
  25% {
    margin-top: -60px;
  }
  35% {
    margin-top: -120px;
  }
  45% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  90% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

/*Quienes Somos*/
.margin-container-home {
  padding: 0 80px;
  margin-top: -50px;
}

.box-txt {
  padding: 0 3em;
}

.box-txt p {
  font-size: 1.2em;
}

.title-quienes-somos {
  font-size: 3em;
  font-weight: 800;
  color: #f76809;
  margin-bottom: 1em;
  margin-top: 1em;
}

.text-quienes-somos {
  margin-bottom: 7em;
  text-align: left;
}

.text-quienes-somos p {
  padding-top: 24px;
}

.text-quienes-somos strong {
  color: #7305ae;
  font-weight: 800;
}

.text-quienes-somos span {
  color: #ff0000;
  font-size: 35px;
}

.textTyped {
  /*clase de animated.js*/
  color: #ff0000;
  font-weight: 800;
  font-size: 35px;
}

.typed-cursor {
  color: #ff0000;
  font-size: 35px;
}

.img-picture-home {
  width: 75%;
}

/*Row Conocenos*/
.bg-conocenos {
  background-image: url(../img/bg-slider-01.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  margin-bottom: 1em;
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 3.7em 0;
  height: 500px;
}

.bg-conocenos h1 {
  font-weight: 800;
  font-size: 1.2em;
  padding-top: 0.1em;
}

/*En que nos destacamos*/
.first-line {
  font-weight: 700;
  font-size: 1.5em;
  color: #1cceb8;
}

.box-highlight {
  text-align: center;
  margin: 4em 0;
}

.box-highlight h1 {
  font-size: 3em;
  font-weight: 800;
  color: #f76809;
  width: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}

.box-highlight p {
  font-size: 18px;
}

.text-bold {
  color: #ff0000;
  font-weight: 700;
}

.box-highlight .text-highlight {
  color: #7305ae;
}

.line-spacing {
  margin-bottom: 1em;
  text-align: center;
}

.card {
  border: 0;
}

.card-body p {
  text-align: left;
}

.number {
  font-size: 5em;
  color: #1cceb8;
  text-align: left;
}

.movie {
  color: #f76809;
  font-size: 2.5em;
  text-align: left;
}

.card-text {
  font-size: 20px;
  color: #7305ae;
  font-weight: 700;
}

.font-subtitle {
  font-size: 17px;
}

.text-block {
  font-size: 18px;
}

/*Row Business*/
.bg-business {
  background-image: url(../img/bg-slider-02.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  margin-top: 7em;
}

.bg-business h1 {
  color: white;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

.display-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align {
  margin: auto;
}

.bg-business p {
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  color: #7305ae;
  text-transform: uppercase;
}

/*Carousel Client*/
.bg-creativity {
  text-align: center;
  color: #7305ae;
}

.colour-highlight {
  color: #f76809;
}

/*.bg-client {
  text-align: center;
  color: $colour-text-violet;
  background-image: url(../img/bg-client.png);
  background-size: cover;
  padding-bottom: 20em;
}*/
.title-client {
  padding: 2em 0 2em 0;
  font-size: 2em;
  color: #5c5b5b;
  margin-bottom: 0;
}

.carrusel {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrusel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0;
}

.carrusel-item {
  min-width: 250px;
  max-height: 150px;
  cursor: pointer;
}

.carrusel-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*Footer*/
footer {
  background-color: #f76809;
  color: white;
}

.row-pd-footer {
  padding: 4em 10em 0em 10em;
  margin-bottom: 2em;
}

.text-contact {
  font-weight: 800;
}

.contact-icons {
  margin: 10px 0;
}

.contact-icons i {
  color: white;
  font-size: 20px;
  margin-right: 0.5em;
}

.contact-icons i:hover {
  color: #7305ae;
}

.contact-icons a {
  text-decoration: none;
  color: white;
}

.contact-icons a:hover {
  color: #7305ae;
}

.ig-profile-image {
  width: 40%;
  margin-top: 1em;
}

.copyright {
  background-color: #ff9c3c;
  margin-top: 5em;
  padding: 25px 0;
  text-align: center;
  font-size: 12px;
}

.country {
  font-weight: 800;
}

.box-country-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-privacy a {
  color: white;
}

/*Social-bar*/
.social-bar {
  position: fixed;
  right: 0;
  top: 45%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icon-facebook-square {
  background: #253767;
}

.icon-instagram {
  background: #ea0027;
}

.icon-linkedin-square {
  background: #0b66c3;
}

.icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  color: white;
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

.image-bg-02 {
  background-image: url(../img/bg-02.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
  margin-top: -1em;
}

.box-coffee, .box-test, .box-test-web {
  padding: 2.5em 0em 0em 1em;
}

.box-test-freeblioteca, .box-test-2 {
  padding: 3.5em 0em 0em 1em;
}

.box-coffee {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
}

.box-coffee .agency-text {
  color: #7305ae;
}

.box-text-align {
  text-align: center;
  margin-bottom: 2em;
}

.box-text-align h1 {
  font-size: 3em;
  font-weight: 800;
}

.title-coffee {
  color: #f76809;
}

.box-text-align h1 span {
  color: #7305ae;
}

.text-green {
  font-weight: 800;
  color: #1cceb8;
}

.picture-coffee {
  width: 90%;
}

.container-calendar {
  margin: 5em 0;
}

.image-bg-03 {
  background-image: url(../img/bg-03.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-test {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
}

.first-title {
  color: #7305ae;
}

.second-title {
  color: #1cceb8;
}

.text-grey {
  color: #707070;
  font-weight: 700;
}

.picture-test {
  width: 85%;
  padding-right: 2em;
}

.contenedor-form {
  margin: auto 0;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  padding: 2em;
  width: 35%;
}

.form-control {
  font-size: 14px;
  line-height: 2px;
}

.btn-send {
  background-color: #7305ae;
  font-weight: 600;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
}

.btn-send:hover {
  background-color: #f8d81b;
  color: #7305ae;
}

#mensaje {
  line-height: 17px;
}

.mail-sent {
  background-color: #7ef5d9;
  padding: 10px;
  border-radius: 7px;
  margin-top: 2em;
  text-align: center;
  font-weight: 400;
}

.image-bg-04 {
  background-image: url(../img/bg-04.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-test-freeblioteca {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
}

.box-test-2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
}

.text-red {
  color: #ff0000 !important;
}

.box-text-align-left {
  text-align: left;
}

.box-text-align-left p {
  font-size: 18px;
}

.picture-freeblioteca {
  width: 95%;
}

.padding-left {
  padding-left: 9em;
}

.bg-download {
  background-image: url(../img/bg-slider-03.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  margin-bottom: 1em;
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 3.7em 0;
  padding: 3.2em !important;
  height: 484px;
}

.bg-download p {
  color: #7305ae;
}

.icon-descarga {
  color: #1cceb8;
  font-size: 3em;
}

.icon-descarga:hover {
  color: #f8d81b;
}

.title-download {
  color: #ff0000;
  font-weight: 800;
  font-size: 18px;
  margin-top: 1em;
}

.btn-download {
  background-color: #7305ae;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  padding: 10px 30px;
}

.description-download {
  margin-bottom: 2em;
  font-size: 18px;
}

.btn-download:hover {
  background-color: #f76809;
  color: white;
}

.padding-freeblioteca-left {
  padding-left: 10em;
  padding-right: 2em;
}

.padding-freeblioteca-right {
  padding-right: 10em;
}

.box-download {
  margin-bottom: 7em;
}

.text-freeblioteca {
  width: 80%;
}

.padding-text-download {
  padding-top: 0.1em;
}

.icon-freeblioteca {
  width: 30%;
}

.icon-freeblioteca:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*Modal-Freeblioteca*/
.modal-footer {
  border-top: none;
  padding: 0;
}

.btn-freeblioteca {
  width: 100%;
  background-color: #1cceb8;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 0.6em 0;
  margin: 1em 0;
}

.box-test-3 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
  z-index: 15;
  padding: 3.5em 0 0 1em;
}

.text-orange {
  color: #f76809;
  font-weight: 800;
}

.text-bold-grey {
  font-weight: 800;
}

.picture-agency {
  width: 85%;
}

.title-pills {
  font-weight: 800;
  color: #7305ae;
  margin-bottom: 0;
}

.box-text-align p {
  font-size: 18px;
}

.arrow-animation {
  margin: 1em 0;
  font-size: 25px;
  font-weight: 800 !important;
  color: #1cceb8;
  -webkit-animation-name: arrowDown;
          animation-name: arrowDown;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
}

@-webkit-keyframes arrowDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 0;
    top: 15px;
  }
  50% {
    left: 0;
    top: 0px;
  }
  75% {
    left: 0;
    top: 15px;
  }
  100% {
    left: 0;
    top: 0px;
  }
}

@keyframes arrowDown {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 0;
    top: 15px;
  }
  50% {
    left: 0;
    top: 0px;
  }
  75% {
    left: 0;
    top: 15px;
  }
  100% {
    left: 0;
    top: 0px;
  }
}

.actived, .hover-orange, .hover-green {
  color: white;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 9px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.box-pill {
  position: relative;
  margin-bottom: 1.5em;
  padding: 0;
}

.actived {
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
  cursor: default;
}

.actived:hover {
  opacity: 0;
}

.pill-orange {
  background-color: #f76809;
}

.pill-green {
  background-color: #1cceb8;
}

.hover-orange {
  font-weight: 600;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: #fd3300;
}

.hover-orange p {
  width: 85%;
}

.hover-green {
  font-weight: 600;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: #008b74;
}

.hover-green p {
  width: 85%;
}

.bg-agency {
  text-align: center;
  background-image: url(../img/bg-agency.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

.bg-agency p {
  margin-top: 1.5em;
  color: white;
}

.title-agency {
  font-size: 2.5em;
  padding-top: 5.5em;
  color: white;
}

.box-test-web {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
}

.container-margin-top {
  margin-top: 2em;
}

.image-bg-06 {
  background-image: url(../img/bg-06.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.text-red {
  color: #ff0000;
  font-weight: 800;
}

.text-blue {
  color: #7305ae;
  font-weight: 800;
}

.bg-web {
  text-align: center;
  color: #7305ae;
  background-image: url(../img/bg-web.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

.title-web {
  font-size: 2.5em;
  padding-top: 4.5em;
  font-weight: 700;
  color: #7305ae;
}

.text-reg {
  font-weight: 500 !important;
}

.picture-web {
  width: 85%;
}

.box-img-web {
  text-align: end;
}

.box-web {
  padding-left: 16em;
}

.image-bg-07 {
  background-image: url(../img/bg-07.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
  background-color: #eeeeee;
}

.picture-bg-brand {
  position: relative;
  z-index: -5;
  margin-top: -32em;
  padding: 0;
}

.picture-brand {
  width: 60%;
}

.bg-grey {
  background-color: #5c5b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3.5em;
}

.bg-grey h1 {
  font-weight: 800;
}

.text-white {
  color: white;
}

.title-brand {
  font-size: 3em;
  padding-top: 4em;
  font-weight: 700;
  color: #5c5b5b;
}

.text-brand-colour {
  color: #1cceb8;
  font-weight: 700;
}

.text-green-brand {
  color: #1cceb8;
}

.bg-brand {
  text-align: center;
  height: 60vh;
}

.bg-brand p {
  color: #5c5b5b;
}

.bg-light-pills {
  background-color: #eeeeee;
  padding-bottom: 3.5em;
  position: relative;
  z-index: 1;
}

.text-violet {
  font-weight: 800;
}

.image-bg-08 {
  background-image: url(../img/bg-08.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
  background-color: #eeeeee;
}

.bg-light-grey {
  background-color: #eeeeee;
  padding-bottom: 3.5em;
}

.box-img-marketing {
  text-align: center;
}

.title-lab {
  color: #ff0000;
  font-weight: 800;
  font-size: 2.5em;
  margin: 0.5em;
}

.bg-lab {
  background-color: #eeeeee;
  text-align: center;
  height: 65vh;
}

.bg-lab p {
  padding: 9em 0 1em 0;
}

.text-green-lab {
  color: #1cceb8;
  font-weight: 800;
}

.text-grey-lab {
  color: #5c5b5b;
  font-size: 18px;
}

.picture-lab {
  width: 65%;
}

.text-want-to {
  padding-top: 4em;
}

.image-bg-09 {
  background-image: url(../img/bg-09.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-img-about {
  width: 50%;
  margin: auto;
  text-align: center;
}

.bg-why {
  text-align: center;
  color: #7305ae;
  background-image: url(../img/bg-about-us.jpg);
  background-size: cover;
  height: 520px;
}

.text-white {
  color: white;
}

.title-strong {
  font-size: 2.5em;
}

.strong {
  font-weight: 800;
}

.text-change {
  padding: 4em 0 0 0;
}

.text-change h1 {
  font-size: 2.5em;
}

.bg-about-2 {
  background-image: url(../img/bg-about-us-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  margin-bottom: -5.3em;
  color: white;
  text-align: center;
  height: 520px;
}

.bg-about-2 h1 {
  font-size: 2.5em;
  color: white;
}

.textTypedAbout {
  /*clase de textTyed-Team.js*/
  color: #f76809;
  font-weight: 800;
  font-size: 35px;
}

.typed-cursor {
  font-weight: 500;
}

.box-images {
  margin-top: 6em;
}

.text-about {
  width: 80%;
  margin: auto;
  font-size: 18px;
}

.image-bg-10 {
  background-image: url(../img/bg-10.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
  background-color: #eeeeee;
}

.text-grey-light {
  color: #707070;
  margin-bottom: 1em;
  font-size: 18px;
}

.bg-light-grey {
  color: #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em !important;
}

.textTypedTeam {
  /*clase de textTyed-Team.js*/
  color: #f76809;
  font-weight: 800;
  font-size: 35px;
}

.typed-cursor {
  color: #f76809;
  font-size: 35px;
}

.bg-team {
  text-align: center;
  color: #7305ae;
  background-image: url(../img/bg-our-team.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 6em;
  padding-top: 10em;
}

.text-founders {
  font-weight: 800;
  color: #ff0000;
  text-align: center;
  margin-bottom: 1em;
}

.img-align-left {
  padding-right: 2em;
}

.img-align-right {
  padding-left: 2em;
}

.img-width-founders {
  width: 55%;
}

.img-width-team {
  width: 75%;
}

.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-bio,
.icon-keyboard_arrow_down {
  color: #1cceb8;
}

.name-title {
  color: #f76809;
}

.txt-bio {
  width: 80%;
  margin: auto;
}

.txt-bio-founders {
  width: 90%;
}

.text-left-founder {
  margin-right: auto;
}

.text-right-founder {
  margin-left: auto;
}

.text-team {
  font-weight: 800;
  color: #7305ae;
  text-align: center;
  margin: 2em 0 1em 0;
}

.carousel {
  height: 427px;
  margin: 4em 0;
}

.carousel-inner {
  height: 470px;
  margin-top: 6em;
}

.carousel-item {
  padding: 0;
  height: 427px;
  width: 100%;
}

.carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  padding: 0;
}

.text-carousel {
  font-size: 3rem;
  font-weight: 800;
}

.img-prioridades {
  width: 65%;
}

.box-text-team {
  background-image: url(../img/bg-our-team-color-2.jpg);
  background-position: center;
  font-size: 32px;
  text-align: center;
}

.bg-text-team {
  background-image: url(../img/bg-our-team-color.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  padding: 3.2em !important;
}

.text-bottom-team {
  font-size: 32px;
}

.bg-text-team .text-bottom-team {
  font-size: 2.3em;
  text-align: center;
  margin: auto;
}

.bottom-text {
  margin: 4em 0 4em 0;
}

.text-prioridades {
  width: 90%;
}

.sentence-our-team {
  text-align: center;
  line-height: 2em;
  margin: 6em 0;
}

.sentence-our-team h2 {
  font-weight: 800;
}

.image-bg-11 {
  background-image: url(../img/bg-11.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.bg-start {
  background-image: url(../img/bg-previous-assignments.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 450px;
  margin-bottom: -5.3em;
}

.bg-start h1 {
  color: #ff0000;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.bg-start a {
  height: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-gallery-asignments {
  margin: 3em 0;
}

.box-wrapper {
  margin-bottom: 2em;
}

/*Link-coffee*/
.link-coffee {
  text-decoration: none;
  color: white;
}

.link-coffee-grey {
  text-decoration: none;
  color: #5c5b5b;
}

.coffee-size {
  font-size: 40px;
}
