@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/*Img top responsive*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?koe9is");
  src: url("../fonts/icomoon/icomoon.eot?koe9is#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?koe9is") format("truetype"), url("../fonts/icomoon/icomoon.woff?koe9is") format("woff"), url("../fonts/icomoon/icomoon.svg?koe9is#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 4.7em;
}

/*Navbar*/
.navbar {
  -webkit-box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  font-size: 14px;
}

.dropdown-toggle::after {
  color: #1cceb8;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f76809;
}

.navbar-collapse {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  margin-right: 32px;
}

.navbar-brand:active {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-item:active {
  background-color: #1cceb8;
}

.dropdown-menu {
  text-align: left;
  font-size: 14px;
}

.dropdown-menu a {
  color: #828282;
}

/*Book a coffee*/
#coffee {
  background-color: #f76809;
  color: white;
  /*margin-top: 4.7em;*/
  font-size: 16px;
}

#coffee p {
  text-align: end;
  margin: auto;
  padding-right: 42px;
}

#coffee a {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  -webkit-box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
}

#coffee i {
  padding: 0 10px;
  font-size: 20px;
}

/*Home*/
.image-bg {
  background-image: url(../img/bg-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-home {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: white;
}

.box-home p, .box-text {
  height: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

.box-home p {
  top: 6em;
  margin: auto;
  width: 100%;
}

.box-text {
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 420px;
  top: 4.5em;
  overflow: hidden;
}

.box-text ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: rotator-text 7s infinite;
          animation: rotator-text 7s infinite;
}

.box-text ul,
p {
  margin: 0;
}

@-webkit-keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  15% {
    margin-top: -60px;
  }
  25% {
    margin-top: -60px;
  }
  35% {
    margin-top: -120px;
  }
  45% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  90% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  15% {
    margin-top: -60px;
  }
  25% {
    margin-top: -60px;
  }
  35% {
    margin-top: -120px;
  }
  45% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  90% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

/*Quienes Somos*/
.margin-container-home {
  padding: 0 80px;
  margin-top: -50px;
}

.box-txt {
  padding: 0 7em;
}

.title-quienes-somos {
  font-size: 3em;
  font-weight: 800;
  color: #f76809;
  margin-bottom: 1em;
}

.text-quienes-somos {
  margin-bottom: 7em;
  text-align: left;
}

.text-quienes-somos p {
  padding-top: 24px;
}

.text-quienes-somos strong {
  color: #00349b;
  font-weight: 800;
}

.text-quienes-somos span {
  color: #ff0000;
  font-size: 35px;
}

.textTyped {
  /*clase de animated.js*/
  color: #ff0000;
  font-weight: 800;
  font-size: 35px;
}

.img-picture-home {
  width: 75%;
}

/*Row Conocenos*/
.bg-conocenos {
  background-image: url(../img/bg-slider-01.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 500px;
  margin-bottom: 1em;
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 3.7em 0;
}

/*En que nos destacamos*/
.box-highlight {
  text-align: center;
  margin: 4em 0;
}

.box-highlight h1 {
  font-size: 3em;
  font-weight: 800;
  color: #f76809;
  width: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}

.text-bold {
  color: #ff0000;
  font-weight: 700;
}

.box-highlight .text-highlight {
  color: #00349b;
}

.line-spacing {
  margin-bottom: 1em;
  text-align: center;
}

.card {
  border: 0;
}

.card-body p {
  text-align: left;
}

.number {
  font-size: 5em;
  color: #1cceb8;
  text-align: left;
}

.movie {
  color: #f76809;
  font-size: 2.5em;
  text-align: left;
}

.card-text {
  color: #00349b;
  font-weight: 700;
}

/*Row Business*/
.bg-business {
  background-image: url(../img/bg-slider-02.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 500px;
  padding: 160px 0;
  margin-top: 7em;
}

.bg-business h1 {
  color: white;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

.align {
  margin: auto;
}

.bg-business p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1.5em;
  color: #707070;
}

/*Carousel Client*/
.bg-client {
  text-align: center;
  color: #00349b;
  background-image: url(../img/bg-client.jpg);
  background-size: cover;
  height: 100vh;
}

.title-client {
  padding-top: 5em;
}

/*Footer*/
footer {
  background-color: #f76809;
  color: white;
}

.row-pd-footer {
  padding: 4em 10em 0em 10em;
  margin-bottom: 2em;
}

.text-contact {
  font-weight: 800;
}

.contact-icons {
  margin: 10px 0;
}

.contact-icons i {
  color: white;
  font-size: 20px;
  margin-right: 0.5em;
}

.contact-icons i:hover {
  color: #da1f26;
}

.contact-icons a {
  text-decoration: none;
  color: white;
}

.ig-profile-image {
  width: 40%;
  margin-top: 1em;
}

.copyright {
  background-color: #ff9c3c;
  margin-top: 5em;
  padding: 25px 0;
  text-align: center;
  font-size: 12px;
}

.country {
  font-weight: 800;
}

.box-country-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-privacy a {
  color: white;
}

/*Social-bar*/
.social-bar {
  position: fixed;
  right: 0;
  top: 45%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icon-facebook-square {
  background: #253767;
}

.icon-instagram {
  background: #ea0027;
}

.icon-linkedin-square {
  background: #0b66c3;
}

.icon:first-child {
  border-radius: 1rem 0 0 0;
}

.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  color: white;
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

.image-bg-02 {
  background-image: url(../img/bg-02.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-coffee, .box-test {
  padding: 2.5em 0em 0em 1em;
}

.box-test-2 {
  padding: 3.5em 0em 0em 1em;
}

.box-coffee {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: white;
}

.box-coffee .agency-text {
  color: #00349b;
}

.box-text-align {
  text-align: center;
  margin-bottom: 2em;
}

.box-text-align h1 {
  font-size: 3em;
  font-weight: 800;
}

.title-coffee {
  color: #f76809;
}

.box-text-align h1 span {
  color: #00349b;
}

.text-green {
  font-weight: 800;
  color: #1cceb8;
}

.picture-coffee {
  width: 40%;
}

.image-bg-03 {
  background-image: url(../img/bg-03.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-test {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: white;
}

.first-title {
  color: #00349b;
}

.second-title {
  color: #1cceb8;
}

.text-grey {
  color: #707070;
  font-weight: 800;
}

.picture-test {
  width: 65%;
  padding-right: 2em;
}

.contenedor-form {
  margin: auto 0;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  padding: 2em;
  width: 35%;
}

.form-control {
  font-size: 12px;
}

.contenedor-boton {
  text-align: center;
}

.btn-send {
  background-color: #f8d81b;
  font-weight: 700;
  color: #707070;
  width: 100%;
}

.image-bg-04 {
  background-image: url(../img/bg-04.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top left;
}

.box-test-2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: white;
}

.text-red {
  color: #ff0000 !important;
}

.box-text-align-left {
  text-align: left;
}

.picture-freeblioteca {
  width: 40%;
}

.padding-left {
  padding-left: 9em;
}

.bg-download {
  background-image: url(../img/bg-slider-03.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  height: 500px;
  margin-bottom: 1em;
  color: white;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 3.7em 0;
  padding: 3.2em !important;
}

.bg-download p {
  color: #00349b;
}

.icon-descarga {
  color: #1cceb8;
  font-size: 3em;
}

.icon-descarga:hover {
  color: #f8d81b;
}

.title-download {
  color: #ff0000;
  font-weight: 800;
  font-size: 18px;
  margin-top: 1em;
}

.btn-download {
  background-color: #00349b;
  color: white;
  font-size: 18px;
  font-weight: 700;
  width: 40%;
  height: 50px;
  margin-top: 1em;
  border-radius: 25px;
}

.padding-freeblioteca-left {
  padding-left: 10em;
  padding-right: 2em;
}

.padding-freeblioteca-right {
  padding-right: 10em;
}

.box-download {
  margin-bottom: 7em;
}
