@import "variables-mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 425px) {
  /*Home*/
  .box-text {
    left: 26px;
  }
  .box-home p {
    font-size: 38px;
    top: 7.8em;
  }
  .box-text {
    text-align: center;
    top: 9.5em;
    height: 29px;
    font-size: 28px;
    line-height: 28px;
  }

  @keyframes rotator-text {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    15% {
      margin-top: -28px;
    }
    25% {
      margin-top: -28px;
    }
    35% {
      margin-top: -56px;
    }
    45% {
      margin-top: -56px;
    }
    50% {
      margin-top: -84px;
    }
    60% {
      margin-top: -84px;
    }
    70% {
      margin-top: -56px;
    }
    80% {
      margin-top: -56px;
    }
    90% {
      margin-top: -28px;
    }
    95% {
      margin-top: -28px;
    }
    100% {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 426px) and (max-width: 500px) {
  /*Home*/
  .box-text {
    left: 46px;
  }
  .box-text {
    text-align: center;
    top: 9.5em;
    height: 33px;
    font-size: 32px;
    line-height: 32px;
  }
  .box-home p {
    font-size: 42px;
    position: absolute;
    top: 330px;
    text-align: center;
    padding: 0 30px;
  }

  @keyframes rotator-text {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    15% {
      margin-top: -32px;
    }
    25% {
      margin-top: -32px;
    }
    35% {
      margin-top: -64px;
    }
    45% {
      margin-top: -64px;
    }
    50% {
      margin-top: -96px;
    }
    60% {
      margin-top: -96px;
    }
    70% {
      margin-top: -64px;
    }
    80% {
      margin-top: -64px;
    }
    90% {
      margin-top: -32px;
    }
    95% {
      margin-top: -32px;
    }
    100% {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  /*Home*/
  .box-text {
    left: 85px;
  }
}
@media screen and (max-width: 570px) {
  ///index.html///

  /*Navbar*/
  .navbar {
    position: fixed;
    background-color: $colour-text-white;
    padding: 14px 0;
  }
  .navbar-nav {
    align-items: flex-start;
    margin-left: 0.3em;
    margin-top: 1em;
  }
  .dropdown-toggle {
    text-align: start;
  }
  .dropdown-menu {
    text-align: start;
  }
  .nav-link {
    margin-right: 6px;
  }
  #coffee {
    margin-top: auto;
  }
  #coffee a {
    padding: 20px 0;
  }
  #coffee p {
    text-align: center;
    padding-right: 0;
  }

  /*Home*/
  .image-bg {
    @include img-top-responsive;
  }

  /*Quienes Somos*/
  .title-quienes-somos {
    font-size: 2.5em;
    margin-top: 1em;
  }
  .text-quienes-somos {
    margin-bottom: 4em;
  }
  .box-txt {
    padding: 0 2em;
  }
  .margin-container-home {
    margin-top: 0em;
  }
  .margin-container-home {
    padding: 0 15px;
  }
  .img-picture-home {
    margin-top: 2em;
  }

  /*Row Conocenos*/
  .bg-conocenos {
    padding: 0;
    @include img-long-responsive;
    height: 184px;
    padding-top: 0.5em;
  }
  .height-text {
    height: 20px;
    margin: auto;
  }
  .bg-conocenos h1 {
    font-size: 36px;
    padding-top: 0;
  }
  .align {
    margin: auto;
  }
  /*En que nos destacamos*/
  .box-highlight h1 {
    width: auto;
    font-size: 2em;
  }
  /*Row Business*/
  .bg-business {
    @include img-long-responsive;
    margin-top: 5em;
    font-size: 7px;
    padding: 47px 0;
    height: 182px;
  }
  .bg-business h1 {
    font-size: 28px;
    padding-top: 6px;
  }
  .bg-business p {
    font-size: 16px;
  }
  /*Client*/
  /*.bg-client {
    text-align: center;
    color: $colour-text-violet;
    background-image: url(../img/bg-client-adaptable.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 19em;
  }*/
  .title-client {
    padding-top: 2em;
    font-size: 2.2em;
  }
  //Coffee//
  .image-bg-02 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
  }
  .box-coffee {
    font-size: 33px;
    padding: 3.4em 0 0 0.7em;
  }

  ///Test-Page.html///
  .image-bg-03 {
    @include img-top-responsive;
  }
  .box-test {
    font-size: 50px;
    padding: 3.4em 0 0 0.5em;
  }
  .picture-test {
    padding-right: 0;
  }
  .contenedor-form {
    width: 90%;
    margin: auto;
  }
  .box-text-align {
    text-align: left;
    padding-left: 1em;
  }
  .box-text-align h1 {
    font-size: 2.5em;
  }

  ///Freeblioteca.html///
  .image-bg-04 {
    @include img-top-responsive;
  }
  .box-test-freeblioteca {
    font-size: 47px;
    padding: 4.3em 0 0 0.5em;
  }
  .box-test-2 {
    font-size: 50px;
    padding: 3.4em 0 0 0.5em;
  }
  .text-green {
    font-size: 2.5em;
  }
  .padding-left {
    padding: 0 2em;
  }
  .box-img-freeblioteca {
    text-align: center;
    margin-top: 4em;
  }
  .bg-download {
    @include img-long-responsive;
    padding: 1.5em 0 2.9em 0 !important;
  }
  .bg-download p {
    font-size: 29px;
    margin: auto;
  }
  .padding-freeblioteca-left,
  .padding-freeblioteca-right {
    padding-left: 6em;
    padding-right: 3em;
  }
  .padding-freeblioteca-left {
    margin-bottom: 5em;
  }
  .title-download {
    font-size: 26px;
  }
  .btn-download {
    width: 50%;
    font-size: 21px;
  }

  ///Digital-Agency.html///
  .image-bg-05 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
  }
  .box-test-3 {
    font-size: 50px;
    padding: 2.7em 0 0 0.7em;
  }
  .picture-agency {
    margin-top: 4em;
    margin-left: 2em;
  }
  .text-orange {
    font-size: 2.5em;
  }
  /*.carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 136px;
    padding: 0;
  }
  .text-carousel {
    font-size: 1.5rem;
    padding-bottom: 0;
  }*/
  .title-agency {
    font-size: 2.5em;
    padding: 3em 1em 0 1em;
  }
  .bg-agency {
    text-align: center;
    color: $colour-text-violet;
    background-image: url(../img/bg-agency-adaptable.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 55vh;
  }
  .bg-agency p {
    padding-bottom: 1em;
  }

  ///Web-Development.html///
  .image-bg-06 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
  }
  .bg-web {
    text-align: center;
    color: $colour-text-violet;
    background-image: url(../img/bg-web-adaptable.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 3em;
  }
  .title-web {
    font-size: 2.2em;
    padding: 3em 1em 0 1em;
  }
  .text-bold-resp {
    font-size: 2.5em;
  }
  .bg-web p {
    padding-bottom: 1em;
  }
  .box-test-web {
    font-size: 40px;
    padding: 3.7em 0 0 0.7em;
  }

  ///Creative-brand.html///
  .image-bg-07 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
    margin-bottom: 0;
  }
  .bg-grey {
    display: flex;
    flex-direction: column !important;
    padding: 5em 0;
  }
  .bg-grey h1 {
    font-size: 3em;
  }
  .title-brand {
    font-size: 2.3em;
    padding: 2.5em 1em 0 1em;
  }
  .text-brand-carousel {
    font-size: 1.3rem;
  }
  .bg-light-pills {
    padding-top: 3em;
  }
  .text-violet {
    margin-top: 3em;
  }
  .text-grey-light {
    margin-bottom: 0;
  }
  .picture-brand {
    margin-top: 4em;
  }

  ///Marketing-Lab.html///
  .image-bg-08 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
    margin-bottom: 0;
  }
  .title-resp-lab {
    font-size: 2.5em;
    margin: 1em 0 1em 0;
  }
  .title-lab {
    margin-bottom: 0.7em;
  }
  .box-img-marketing {
    margin-bottom: 3em;
    text-align: center;
  }
  .box-img-marketing img {
    width: 80%;
  }
  .text-carousel-lab-1 {
    font-size: 2rem;
  }
  .text-carousel-lab-2 {
    font-size: 2rem;
  }
  .text-grey-lab {
    color: $colour-text-dark-grey;
    text-align: left;
    padding-bottom: 3em;
  }
  .bg-lab {
    padding-bottom: 19em;
  }
  .text-want-to {
    padding: 6em 0 3em 0;
  }

  ///About-us.html///
  .image-bg-09 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
    margin-bottom: 0;
  }
  .title-resp-about {
    font-size: 2.2em;
    margin: 2em 0 1em 0.3em;
  }
  .text-about {
    padding-left: 0.5em;
  }
  .box-img-about {
    margin: auto;
  }
  .box-img-about img {
    width: 100%;
    margin-bottom: 3em;
  }
  .text-change {
    padding: 4em 0 4em 0;
  }
  .text-change h1 {
    font-size: 2.3em;
  }
  .bg-about-2 h1 {
    font-size: 2em;
  }
  .bg-about-2 {
    height: 389px;
    margin-bottom: 0;
  }

  ///Our-team.html///
  .image-bg-10 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
    margin-bottom: 0;
  }
  .bg-team {
    padding-top: 0;
  }
  .text-founders {
    font-size: 2.5em;
  }
  .margin-founders {
    margin-top: 3em;
  }
  .img-align-left {
    padding: 0 20px;
  }
  .img-align-right {
    padding: 0 20px;
  }
  .text-team {
    font-size: 2.5em;
  }
  .img-width-team {
    width: 45%;
  }
  .padding-team-resp {
    padding: 0 20px;
    margin-bottom: 2em;
  }
  .padding-priorities {
    padding-left: 20px;
    margin-bottom: 2em;
  }
  .img-prioridades {
    width: 100%;
  }
  .text-resp {
    font-size: 2em;
  }
  .box-text-team {
    font-size: 1.8em;
    height: 450px;
    background-position: top center;
    padding: 1.2em;
  }
  .bg-text-team {
    @include img-long;
    color: $colour-text-white;
    text-align: center;
    height: 400px;
  }
  .bg-text-team .text-bottom-team {
    width: 100%;
    font-size: 1.8em;
    height: 346px;
    margin: auto;
  }
  .bottom-text {
    margin-bottom: 7em;
    margin-top: 4em;
  }
  .text-prioridades {
    width: 100%;
  }
  .padding-left-resp {
    padding-left: 0.5em;
  }
  .sentence-our-team h2 {
    font-size: 20px;
  }

  ///Previous-assignments.html///
  .image-bg-11 {
    @include img-top-responsive;
    padding: 2em 0 2.6em 0 !important;
    margin-bottom: 0;
  }
  .text-previous {
    margin-top: 2.5em;
  }
  .bg-start {
    background-image: url(../img/bg-previous-assignments-adaptable.png);
    @include img-long;
    margin-bottom: -9.6em;
    color: $colour-text-white;
    text-align: center;
  }
  .bg-start a {
    height: 318px;
  }
  .box-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5em;
  }

  /*Footer*/
  .ig-profile-image {
    width: 50%;
  }
  .text-contact {
    margin-top: 1em;
  }
  .row-pd-footer {
    padding: 4em 3em 0em 3em;
  }
  .box-country-footer {
    margin-top: 2em;
    flex-direction: column;
  }
  .country {
    margin-top: 1em;
  }

  /*Social-Bar*/
  .social-bar {
    top: 50%;
  }
}
@media screen and (min-width: 571px) and (max-width: 1200px) {
  /*Home*/
  .image-bg {
    @include img-top-responsive;
  }
  .box-home p {
    font-size: 33px;
    position: absolute;
    top: 540px;
    text-align: center;
    padding: 0 30px;
  }
  .box-text {
    left: 190px;
    text-align: center;
    top: 10em;
    height: 31px;
    font-size: 30px;
    line-height: 30px;
  }
  @keyframes rotator-text {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    15% {
      margin-top: -30px;
    }
    25% {
      margin-top: -30px;
    }
    35% {
      margin-top: -60px;
    }
    45% {
      margin-top: -60px;
    }
    50% {
      margin-top: -90px;
    }
    60% {
      margin-top: -90px;
    }
    70% {
      margin-top: -60px;
    }
    80% {
      margin-top: -60px;
    }
    90% {
      margin-top: -30px;
    }
    95% {
      margin-top: -30px;
    }
    100% {
      margin-top: 0;
    }
  }
  /*Social-Bar*/
  .social-bar {
    top: 50%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  /*Home*/
  .image-bg {
    @include img-top-responsive;
    height: 85vh !important;
  }
  .box-home p {
    font-size: 52px;
    position: absolute;
    top: 400px;
    text-align: center;
    padding: 0 30px;
  }
  .box-text {
    left: 390px;
    text-align: center;
    top: 5.3em;
    height: 53px;
    font-size: 52px;
    line-height: 52px;
  }
  @keyframes rotator-text {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    15% {
      margin-top: -52px;
    }
    25% {
      margin-top: -52px;
    }
    35% {
      margin-top: -104px;
    }
    45% {
      margin-top: -104px;
    }
    50% {
      margin-top: -156px;
    }
    60% {
      margin-top: -156px;
    }
    70% {
      margin-top: -104px;
    }
    80% {
      margin-top: -104px;
    }
    90% {
      margin-top: -52px;
    }
    95% {
      margin-top: -52px;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 983px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (max-width: 766px) {
  /*Digital-Agency*/
  .direction-row {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1300px) {
  /*Digital-Agency*/
  .box-pill {
    display: flex;
    justify-content: center;
  }
  .active {
    width: 100%;
  }
  .hover-orange {
    width: 100%;
  }
  .hover-green {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*Digital-Agency*/
  .box-pill {
    width: 23%;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: 993px) and (max-width: 1300px) {
  /*Digital-Agency*/
  .box-pill {
    width: 24%;
    margin-right: 0.5em;
  }
}
