@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "variables-mixins";

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?koe9is");
  src: url("../fonts/icomoon/icomoon.eot?koe9is#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?koe9is") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?koe9is") format("woff"),
    url("../fonts/icomoon/icomoon.svg?koe9is#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #828282;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 4.7em;
}

///index.html///

/*Navbar*/
.navbar {
  box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: $colour-text-white;
  font-size: 14px;
}
.dropdown-toggle::after {
  color: $colour-text-green;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: $colour-text-orange;
}
.navbar-collapse {
  justify-content: space-around;
}
.navbar-nav {
  align-items: center;
}
.nav-link {
  margin-right: 32px;
}
.navbar-brand:active {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.dropdown-item:active {
  background-color: $colour-text-green;
}
.dropdown-menu {
  text-align: left;
  font-size: 14px;
}
.dropdown-menu a {
  color: #828282;
}

/*Book a coffee*/
#coffee {
  background-color: $colour-text-orange;
  color: $colour-text-white;
  margin-top: -0.1em;
  font-size: 16px;
}
#coffee p {
  text-align: end;
  margin: auto;
  padding-right: 42px;
}
#coffee a {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: $colour-text-black;
  background-color: $colour-text-white;
  box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
}
#coffee i {
  padding: 0 10px;
  font-size: 20px;
}

/*Home*/
.image-bg {
  background-image: url(../img/bg-01.png);
  @include img-top;
}
.box-home {
  position: relative;
  @include big-text;
}
%module {
  height: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}
.box-home p {
  @extend %module;
  top: 3em;
  margin: auto;
  width: 100%;
}
.box-text {
  @extend %module;
  line-height: 60px;
  display: flex;
  left: 420px;
  top: 4.5em;
  overflow: hidden;
}
.box-text ul {
  list-style: none;
  padding-left: 10px;
  animation: rotator-text 7s infinite;
}
.box-text ul,
p {
  margin: 0;
}
@keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  15% {
    margin-top: -60px;
  }
  25% {
    margin-top: -60px;
  }
  35% {
    margin-top: -120px;
  }
  45% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  70% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  90% {
    margin-top: -60px;
  }
  95% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

/*Quienes Somos*/
.margin-container-home {
  padding: 0 80px;
  margin-top: -50px;
}
.box-txt {
  padding: 0 3em;
}
.title-quienes-somos {
  @include font-title;
  color: $colour-text-orange;
  margin-bottom: 1em;
  margin-top: 1em;
}
.text-quienes-somos {
  margin-bottom: 7em;
  text-align: left;
}
.text-quienes-somos p {
  padding-top: 24px;
}
.text-quienes-somos strong {
  color: $colour-text-blue;
  font-weight: 800;
}
.text-quienes-somos span {
  color: $colour-text-red;
  font-size: 35px;
}
.textTyped {
  /*clase de animated.js*/
  color: $colour-text-red;
  font-weight: 800;
  font-size: 35px;
}
.typed-cursor {
  color: $colour-text-red;
  font-size: 35px;
}
.img-picture-home {
  width: 75%;
}

/*Row Conocenos*/
.bg-conocenos {
  background-image: url(../img/bg-slider-01.jpg);
  @include img-long;
  margin-bottom: 1em;
  @include text-banner;
}
.bg-conocenos h1 {
  font-weight: 800;
  font-size: 1.2em;
  padding-top: 0.1em;
}

/*En que nos destacamos*/
.box-highlight {
  text-align: center;
  margin: 4em 0;
}
.box-highlight h1 {
  @include font-title;
  color: $colour-text-orange;
  width: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}
.text-bold {
  color: $colour-text-red;
  font-weight: 700;
}
.box-highlight .text-highlight {
  color: $colour-text-blue;
}
.line-spacing {
  margin-bottom: 1em;
  text-align: center;
}
.card {
  border: 0;
}
.card-body p {
  text-align: left;
}
.number {
  font-size: 5em;
  color: $colour-text-green;
  text-align: left;
}
.movie {
  color: $colour-text-orange;
  font-size: 2.5em;
  text-align: left;
}
.card-text {
  color: $colour-text-blue;
  font-weight: 700;
}
.text-block {
  font-size: 16px;
}

/*Row Business*/
.bg-business {
  background-image: url(../img/bg-slider-02.jpg);
  @include img-long;
  padding: 160px 0;
  margin-top: 7em;
}
.bg-business h1 {
  color: $colour-text-white;
  @include font-title;
  text-align: center;
}
.align {
  margin: auto;
}
.bg-business p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: $colour-text-grey;
}

/*Carousel Client*/
.bg-client {
  text-align: center;
  color: $colour-text-blue;
  background-image: url(../img/bg-client.png);
  background-size: cover;
  padding-bottom: 13em;
}
.title-client {
  padding-top: 4em;
  font-size: 1.8em;
}

/*Footer*/
footer {
  background-color: $colour-text-orange;
  color: white;
}
.row-pd-footer {
  padding: 4em 10em 0em 10em;
  margin-bottom: 2em;
}
.text-contact {
  font-weight: 800;
}
.contact-icons {
  margin: 10px 0;
}
.contact-icons i {
  color: white;
  font-size: 20px;
  margin-right: 0.5em;
}
.contact-icons i:hover {
  color: $colour-text-blue;
}
.contact-icons a {
  text-decoration: none;
  color: $colour-text-white;
}
.contact-icons a:hover {
  color: $colour-text-blue;
}
.ig-profile-image {
  width: 40%;
  margin-top: 1em;
}
.copyright {
  background-color: $colour-text-light-orange;
  margin-top: 5em;
  padding: 25px 0;
  text-align: center;
  font-size: 12px;
}
.country {
  font-weight: 800;
}
.box-country-footer {
  display: flex;
  justify-content: space-between;
}
.text-privacy a {
  color: $colour-text-white;
}
/*Social-bar*/
.social-bar {
  position: fixed;
  right: 0;
  top: 45%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}
.icon {
  color: $colour-text-white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
}
.icon-facebook-square {
  background: #253767;
}
.icon-instagram {
  background: #ea0027;
}
.icon-linkedin-square {
  background: #0b66c3;
}
.icon:first-child {
  border-radius: 1rem 0 0 0;
}
.icon:last-child {
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  color: $colour-text-white;
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

///coffee-page.html///
.image-bg-02 {
  background-image: url(../img/bg-02.png);
  @include img-top;
  margin-top: -1em;
}
%module-padding {
  padding: 2.5em 0em 0em 1em;
}
%module-padding-one-line {
  padding: 3.5em 0em 0em 1em;
}

.box-coffee {
  position: relative;
  @include big-text;
  @extend %module-padding;
}
.box-coffee .agency-text {
  color: $colour-text-blue;
}
.box-text-align {
  text-align: center;
  margin-bottom: 2em;
}
.box-text-align h1 {
  @include font-title;
}
.title-coffee {
  color: $colour-text-orange;
}
.box-text-align h1 span {
  color: $colour-text-blue;
}
.text-green {
  font-weight: 800;
  color: $colour-text-green;
}
.picture-coffee {
  width: 40%;
}

///Test-page.html///
.image-bg-03 {
  background-image: url(../img/bg-03.png);
  @include img-top;
}
.box-test {
  @include big-text;
  @extend %module-padding;
}
.first-title {
  color: $colour-text-blue;
}
.second-title {
  color: $colour-text-green;
}
.text-grey {
  color: $colour-text-grey;
  font-weight: 800;
}
.picture-test {
  width: 65%;
  padding-right: 2em;
}
.contenedor-form {
  margin: auto 0;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  padding: 2em;
  width: 35%;
}
.form-control {
  font-size: 12px;
}
.contenedor-boton {
  text-align: center;
}
.btn-send {
  background-color: $colour-text-yellow;
  font-weight: 700;
  color: $colour-text-grey;
  width: 100%;
}

///Freeblioteca.html///
.image-bg-04 {
  background-image: url(../img/bg-04.png);
  @include img-top;
}
.box-test-2 {
  @include big-text;
  @extend %module-padding-one-line;
}
.text-red {
  color: $colour-text-red !important;
}
.box-text-align-left {
  text-align: left;
}
.picture-freeblioteca {
  width: 40%;
}
.padding-left {
  padding-left: 9em;
}
.bg-download {
  background-image: url(../img/bg-slider-03.jpg);
  @include img-long;
  margin-bottom: 1em;
  @include text-banner;
  padding: 3.2em !important;
}
.bg-download p {
  color: $colour-text-blue;
}
.icon-descarga {
  color: $colour-text-green;
  font-size: 3em;
}
.icon-descarga:hover {
  color: $colour-text-yellow;
}
.title-download {
  color: $colour-text-red;
  font-weight: 800;
  font-size: 18px;
  margin-top: 1em;
}
.btn-download {
  background-color: $colour-text-blue;
  color: $colour-text-white;
  font-size: 18px;
  font-weight: 700;
  width: 40%;
  height: 50px;
  margin-top: 1em;
  border-radius: 25px;
}
.btn-download:hover {
  background-color: $colour-text-orange;
  color: $colour-text-white;
}
.padding-freeblioteca-left {
  padding-left: 10em;
  padding-right: 2em;
}
.padding-freeblioteca-right {
  padding-right: 10em;
}
.box-download {
  margin-bottom: 7em;
}

///Digital-Agency.html///
.image-bg-05 {
  background-image: url(../img/bg-05.png);
  @include img-top;
}
.box-test-3 {
  @include big-text;
  @extend %module-padding;
}
.text-orange {
  color: $colour-text-orange;
  font-weight: 800;
}
.text-bold-grey {
  font-weight: 800;
}
.picture-agency {
  width: 70%;
}
.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 0;
}
.text-carousel {
  font-size: 3rem;
  font-weight: 800;
}
.carousel-indicators [data-bs-target] {
  border-top: 0;
  border-bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
.bg-agency {
  text-align: center;
  color: $colour-text-blue;
  background-image: url(../img/bg-agency.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.bg-agency p {
  margin-top: 1.5em;
  color: $colour-text-white;
}
.title-agency {
  font-size: 2.5em;
  padding-top: 5.5em;
  color: $colour-text-white;
}

///Web-Development.html///
.container-web-development {
  margin-top: -2em;
}
.image-bg-06 {
  background-image: url(../img/bg-06.png);
  @include img-top;
}
.text-red {
  color: $colour-text-red;
  font-weight: 800;
}
.text-blue {
  color: $colour-text-blue;
  font-weight: 800;
}
.bg-web {
  text-align: center;
  color: $colour-text-blue;
  background-image: url(../img/bg-web.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.title-web {
  font-size: 2.5em;
  padding-top: 4.5em;
  font-weight: 700;
  color: $colour-text-blue;
}
.text-reg {
  font-weight: 500 !important;
}

///Creative-Brand.html///
.image-bg-07 {
  background-image: url(../img/bg-07.png);
  @include img-top;
  background-color: $colour-text-dark-grey;
}
.picture-bg-brand {
  position: relative;
  z-index: -5;
  margin-top: -32em;
  padding: 0;
}
.picture-brand {
  width: 50%;
}
.bg-grey {
  background-color: #5c5b5b;
  display: flex;
  padding-bottom: 3.5em;
}
.bg-grey h1 {
  font-weight: 800;
}
.text-white {
  color: $colour-text-white;
}
.title-brand {
  font-size: 3em;
  padding-top: 4em;
  font-weight: 700;
  color: $colour-text-dark-grey;
}
.text-green-brand {
  color: $colour-text-green;
}
.bg-brand {
  text-align: center;
  height: 75vh;
}
.bg-brand p {
  color: $colour-text-dark-grey;
}

///Marketing-Lab.html///
.image-bg-08 {
  background-image: url(../img/bg-08.png);
  @include img-top;
  background-color: #eeeeee;
}
.bg-light-grey {
  background-color: #eeeeee;
  padding-bottom: 3.5em;
}
.box-img-marketing {
  width: 60%;
  text-align: center;
}
.text-carousel-lab-1 {
  font-size: 3rem;
  font-weight: 800;
  color: $colour-text-orange;
}
.text-carousel-lab-2 {
  font-size: 3rem;
  font-weight: 800;
  color: $colour-text-blue;
}
.title-lab {
  color: $colour-text-red;
  font-weight: 800;
  font-size: 2.5em;
}
.bg-lab {
  background-color: #eeeeee;
  text-align: center;
  height: 65vh;
}
.bg-lab p {
  padding: 9em 0 1em 0;
}
.text-green-lab {
  color: $colour-text-green;
  font-weight: 800;
}

///About-us.html///
.image-bg-09 {
  background-image: url(../img/bg-09.png);
  @include img-top;
}
.box-img-about {
  width: 60%;
  margin: auto;
  text-align: center;
}
.bg-why {
  text-align: center;
  color: $colour-text-blue;
  background-image: url(../img/bg-about-us.png);
  background-size: cover;
  padding-bottom: 10em;
  padding-top: 10em;
}
.text-white {
  color: $colour-text-white;
}
.title-strong {
  font-size: 2.5em;
}
.strong {
  font-weight: 800;
}
.text-change {
  padding: 8em 0 7em 0;
}
.text-change h1 {
  font-size: 2.5em;
}
.bg-about-2 {
  background-image: url(../img/bg-about-us-2.png);
  @include img-long;
  margin-bottom: -5.3em;
  color: $colour-text-white;
  text-align: center;
}
.bg-about-2 h1 {
  font-size: 2.5em;
  padding-top: 5em;
  color: $colour-text-white;
}

////Our-team.html///
.image-bg-10 {
  background-image: url(../img/bg-10.png);
  @include img-top;
  background-color: #eeeeee;
}
.text-grey-light {
  color: $colour-text-grey;
  margin-bottom: 1em;
}
.bg-light-grey {
  color: #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em !important;
}
.textTypedTeam {
  /*clase de textTyed-Team.js*/
  color: $colour-text-orange;
  font-weight: 800;
  font-size: 35px;
}
.typed-cursor {
  color: $colour-text-orange;
  font-size: 35px;
}
.bg-team {
  text-align: center;
  color: $colour-text-blue;
  background-image: url(../img/bg-our-team.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10em;
  padding-top: 10em;
}
.text-founders {
  font-weight: 800;
  color: $colour-text-red;
  text-align: center;
  margin-bottom: 1em;
}
.img-align-left {
  padding-right: 2em;
}
.img-align-right {
  padding-left: 2em;
}
.img-width-founders {
  width: 45%;
}
.img-width-team {
  width: 90%;
}
.text-team {
  font-weight: 800;
  color: $colour-text-blue;
  text-align: center;
  margin: 2em 0 1em 0;
}
.carousel-team {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  padding: 0;
}
.box-carousel-team {
  margin: 5em 0 5em 0;
}
.img-prioridades {
  width: 65%;
}
.box-text-team {
  margin: 6em auto;
  font-size: 32px;
  text-align: center;
  width: 90%;
}
.bg-text-team {
  background-image: url(../img/bg-our-team-grey.png);
  @include img-long;
  margin-bottom: 0.5em;
  padding: 3.2em !important;
}
.text-bottom-team {
  width: 55%;
}
.bg-text-team .text-bottom-team {
  font-size: 2.3em;
  text-align: center;
  height: 140px;
  margin: auto;
}
.bottom-text {
  margin-bottom: 7em;
}

////Previous-assignments.html///
.image-bg-11 {
  background-image: url(../img/bg-11.png);
  @include img-top;
}
.bg-start {
  background-image: url(../img/bg-previous-assignments.png);
  @include img-long;
  margin-bottom: -5.3em;
}
.bg-start h1 {
  color: $colour-text-red;
  font-weight: 800;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
